header.container {
  background-color: rgba(100, 100, 100, 0.4);
  justify-content: space-between;

  .rightpane {
    justify-content: flex-end;
    justify-content: flex-end;

    > span {
      margin: 0.3rem;
    }
  }

  border-bottom: 1px solid lightgray;

  height: 3rem;

  > *:first-child {
    justify-self: start;
  }

  :global(.cimgclip) {
    border: 1px solid lightgray;
    width: 3rem;
    height: 3rem;
  }
}

